<!DOCTYPE html>
<html>
<head>
    <title>BMI Calculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <h1>BMI Calculator</h1>
    <form method="POST">
        <label for="weight">Weight (kg):</label>
        <input type="text" id="weight" name="weight" required>
        <br><br>
        <label for="height">Height (m):</label>
        <input type="text" id="height" name="height" required>
        <br><br>
        <button type="submit">Calculate</button>
    </form>

    {% if bmi is not none %}
        <h2>{{ bmi }}</h2>
    {% endif %}
</body>
</html>
